--prefer-binary
########################################
# Essential Deps
########################################
deepspeed
triton
open-clip-torch
opencv-python-headless
git+https://github.com/openai/CLIP.git
-r https://github.com/sczhou/CodeFormer/raw/master/requirements.txt
########################################
# Deps reorganized from A1111/requirements_versions.txt .
# Removed most of version numbers. Crazy but still works.
########################################
accelerate
basicsr
blendmodes
clean-fid
einops
fastapi==0.90.1
font-roboto
fonts
gfpgan
GitPython
gradio==3.16.2
httpcore
inflection
jsonmerge
kornia
lark
numpy
omegaconf
piexif
Pillow
pytorch_lightning
realesrgan
resize-right
safetensors
scikit-image
timm
torch
torchdiffeq
torchsde
transformers
########################################
# Deps for sd-webui extensions.
# Not necessary but save some time.
########################################
Flask
Send2Trash
svglib
########################################
# Deps for DreamBooth Extension
# https://github.com/d8ahazard/sd_dreambooth_extension
########################################
albumentations
bitsandbytes
diffusers
discord-webhook
ftfy
lion-pytorch
mediapipe
modelcards
tensorboard==2.11.2
tensorflow==2.11.0
tensorrt==8.5.3.1
tqdm
