--prefer-binary
########################################
# Essential Deps
########################################
deepspeed
triton
open-clip-torch
opencv-python-headless
git+https://github.com/openai/CLIP.git
-r https://github.com/sczhou/CodeFormer/raw/master/requirements.txt
########################################
# Deps reorganized from A1111/requirements_versions.txt .
# Removed most of version numbers. Crazy but still works.
########################################
accelerate
basicsr
blendmodes
clean-fid
einops
fastapi==0.94.0
font-roboto
fonts
gfpgan
GitPython
gradio==3.23
httpcore
inflection
jsonmerge
kornia
lark
numpy
omegaconf
piexif
Pillow
pytorch_lightning<2.0.0
realesrgan
resize-right
rich
safetensors
scikit-image
timm
torch
torchdiffeq
torchsde
transformers
########################################
# Deps for sd-webui extensions.
# Not necessary but save some time.
########################################
Flask
Send2Trash
svglib
